<div class="email-left-box">
    <a href="/AdminContact/Inbox" class="btn btn-primary btn-block">Inbox</a>
    <div class="mail-list mt-4">
        <a href="#" class="list-group-item border-0 p-r-0"><i class="fa fa-star-o font-18 align-middle mr-2"></i>Important <span class="badge badge-danger badge-sm float-right m-t-5"></span> </a>
        <a href="/AdminContact/OutgoingMessages" class="list-group-item border-0 p-r-0"><i class="fa fa-paper-plane font-18 align-middle mr-2"></i>Sended Messages</a>
        <a href="#" class="list-group-item border-0 p-r-0"><i class="fa fa-trash font-18 align-middle mr-2"></i>Trash</a>
    </div>
</div>